<%= render_partial "action_menu" %>
<h1><%=h @section.send('heading') %></h1>
<p>This page is completelly editable by you, the owner of this site. Simply ensure that you 
are logged in, and then click on the "Edit" button near the top right corner of this page.</p>